@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@tailwind utilities;

* {
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
	text-align: initial;
}

html,
body,
#root {
	width: 100%;
}

body {
	background: linear-gradient(
		180deg,
		rgb(171.06, 217.23, 255) 0%,
		rgb(250.75, 253.73, 255) 100%
	);
}

/* 피그마 프레임 사이즈 적용 */
#root {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
